<web-app>
    <servlet>
        <servlet-name>aloginv</servlet-name>
        <servlet-class>adminloginvalidate</servlet-class>
     </servlet>
     <servlet>
        <servlet-name>alogins</servlet-name>
        <servlet-class>adminloginsql</servlet-class>
      </servlet>
        <servlet>
        <servlet-name>adminp</servlet-name>
        <servlet-class>adminpage</servlet-class>
      </servlet>
    <servlet-mapping>
        <servlet-name>aloginv</servlet-name>
        <url-pattern>/aloginv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alogins</servlet-name>
        <url-pattern>/alogins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminp</servlet-name>
        <url-pattern>/adminp</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>dloginv</servlet-name>
        <servlet-class>doctorloginvalidate</servlet-class>
     </servlet>
     <servlet>
        <servlet-name>dlogins</servlet-name>
        <servlet-class>doctorloginsql</servlet-class>
      </servlet>
        <servlet>
        <servlet-name>doctorp</servlet-name>
        <servlet-class>doctorpage</servlet-class>
      </servlet>
    <servlet-mapping>
        <servlet-name>dloginv</servlet-name>
        <url-pattern>/dloginv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dlogins</servlet-name>
        <url-pattern>/dlogins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorp</servlet-name>
        <url-pattern>/doctorp</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>ploginv</servlet-name>
        <servlet-class>patientloginvalidate</servlet-class>
     </servlet>
     <servlet>
        <servlet-name>plogins</servlet-name>
        <servlet-class>patientloginsql</servlet-class>
      </servlet>
    <servlet>
        <servlet-name>patientp</servlet-name>
        <servlet-class>patientpage</servlet-class>
      </servlet>
    <servlet-mapping>
        <servlet-name>ploginv</servlet-name>
        <url-pattern>/ploginv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plogins</servlet-name>
        <url-pattern>/plogins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientp</servlet-name>
        <url-pattern>/patientp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>psignup</servlet-name>
        <servlet-class>patientsignup</servlet-class>
     </servlet>
     <servlet>
        <servlet-name>psignups</servlet-name>
        <servlet-class>patientsignupsql</servlet-class>
      </servlet>
    <servlet-mapping>
        <servlet-name>psignup</servlet-name>
        <url-pattern>/psignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>psignups</servlet-name>
        <url-pattern>/psignups</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminpv</servlet-name>
        <servlet-class>adminpatientdetailsview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindv</servlet-name>
        <servlet-class>admindoctordetailsview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminpv</servlet-name>
        <url-pattern>/adminpv</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>Appointment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>app</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindv</servlet-name>
        <url-pattern>/admindv</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>booking</servlet-name>
        <servlet-class>booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booked</servlet-name>
        <servlet-class>booked</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>booking</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booked</servlet-name>
        <url-pattern>/booked</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dprview</servlet-name>
        <servlet-class>doctorprview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dfbview</servlet-name>
        <servlet-class>doctorfbview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dprview</servlet-name>
        <url-pattern>/dprview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dfbview</servlet-name>
        <url-pattern>/dfbview</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fb</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fbs</servlet-name>
        <servlet-class>feedbacksql</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fb</servlet-name>
        <url-pattern>/fb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fbs</servlet-name>
        <url-pattern>/fbs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>srch</servlet-name>
        <servlet-class>search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srchs</servlet-name>
        <servlet-class>searchsql</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srch</servlet-name>
        <url-pattern>/srch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srchs</servlet-name>
        <url-pattern>/srchs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>profilepage</servlet-name>
        <servlet-class>doctorprofilepage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profilepage</servlet-name>
        <url-pattern>/profilepage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>other</servlet-name>
        <servlet-class>other</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>other</servlet-name>
        <url-pattern>/other</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fp</servlet-name>
        <servlet-class>forgotpwd</servlet-class>
      </servlet>
    <servlet-mapping>
        <servlet-name>fp</servlet-name>
        <url-pattern>/fp</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>fpd</servlet-name>
        <servlet-class>forgotpwdd</servlet-class>
      </servlet>
    <servlet-mapping>
        <servlet-name>fpd</servlet-name>
        <url-pattern>/fpd</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>fpp</servlet-name>
        <servlet-class>forgotpwdp</servlet-class>
      </servlet>
    <servlet-mapping>
        <servlet-name>fpp</servlet-name>
        <url-pattern>/fpp</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>confirm</servlet-name>
        <servlet-class>confirm</servlet-class>
      </servlet>
    <servlet-mapping>
        <servlet-name>confirm</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>confirmsql</servlet-name>
        <servlet-class>confirmsql</servlet-class>
      </servlet>
    <servlet-mapping>
        <servlet-name>confirmsql</servlet-name>
        <url-pattern>/confirmsql</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>capp</servlet-name>
        <servlet-class>cAppointments</servlet-class>
      </servlet>
    <servlet-mapping>
        <servlet-name>capp</servlet-name>
        <url-pattern>/capp</url-pattern>
    </servlet-mapping>
</web-app>